.quiz {
  background: #ffffff;
  border-radius: 24px;
  padding: 32px;
  width: 100%;
  &__question {
    font-weight: 700;
    font-size: 24px;
    color: #2f527b;
  }
  &__options {
    list-style: none;
  }
  &__option {
    font-weight: 500;
    font-size: 18px;
    color: rgba(96, 102, 208, 0.8);
    display: flex;
    align-items: center;
    background: #ffffff;
    border: 2px solid rgba(96, 102, 208, 0.7);
    border-radius: 12px;
    padding: 10px 20px;
    transition: all 0.2s;
    &:hover,
    &:focus {
      cursor: pointer;
      color: #ffffff;
      background: #f9a826;
      border-color: #f9a826;
    }
    &--number {
      margin-right: 46px;
      font-weight: 500;
      font-size: 24px;
    }
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }
  &__btn {
    color: #fff;
    padding: 15px 36px;
    font-weight: 700;
    font-size: 18px;
    background: #f9a826;
    box-shadow: 0px 2px 4px rgba(252, 168, 47, 0.4);
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      background: #de9219;
    }
  }
}
.quiz-btn-container {
  display: flex;
  justify-content: end;
}

.no-pointer {
  pointer-events: none;
}

.wrong {
  background-color: #ea8282;
  color: #fff;
  border-color: #ea8282;
}

.correct {
  background-color: #60bf88;
  color: #fff;
  border-color: #60bf88;
}

.finished {
  &__heading {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    margin: 0;
  }
  &__results {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #1d355d;
    text-align: center;
    &--correct {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      color: #6fcf97;
    }
  }
}
.try-again {
  display: flex;
  justify-content: center;
}
.try-again-btn {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  padding: 18px 61px;
  color: #1d355d;
  border: 2px solid #1d355d;
  border-radius: 12px;
  background: #fff;
  transition: all 0.3s;
  margin-top: 50px;

  &:hover {
    background: #1d355d;
    color: #fff;
    cursor: pointer;
  }
}

.finished-logo {
  display: flex;
  justify-content: center;
  overflow: hidden;
  img {
    max-width: 250px;
  }
}
