.quiz {
  background: #ffffff;
  border-radius: 24px;
  padding: 32px;
  width: 100%;
  &__question {
    font-weight: 700;
    font-size: 24px;
  }
  &__options {
    list-style: none;
  }
  &__option {
    font-weight: 500;
    font-size: 18px;
    color: rgba(96, 102, 208, 0.8);
    display: flex;
    align-items: center;
    background: #ffffff;
    border: 2px solid rgba(96, 102, 208, 0.7);
    border-radius: 12px;
    padding: 10px 20px;
    transition: all 0.2s;
    &:hover,
    &:focus {
      cursor: pointer;
      color: #ffffff;
      background: #f9a826;
      border-color: #f9a826;
    }
    &--number {
      margin-right: 46px;
      font-weight: 500;
      font-size: 24px;
    }
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }
}
